In [6]:
# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("abcsds/pokemon")

# print("Path to dataset files:", path)

In [7]:
import pandas as pd

In [10]:
df = pd.read_csv("Pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Reading Data in Pandas

In [30]:
## Columns
df.columns

## Read each column
df["Name"][0:5]
df.Name
df[['Name', 'Type 1', 'HP']]

## read Each row
df.iloc[1]
df.iloc[0:4]
# for index, row in df.iterrows():
#     print(index, row['Name'])

df.loc[df['Type 1'] == "Grass"]


## Read a specific location (R,C)
df.iloc[2,1]

'Venusaur'

# Sorting/Describing Data

In [34]:
# df.describe()
df.sort_values('Name', ascending=False)
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False

# Making changes to the data

In [43]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# df.drop(columns=['Total'], inplace=True)

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head()

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,False,799,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,False,1015,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,False,1315,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,1595,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,1,False,747,39,52,43,60,50,65

# Export the dataset

In [44]:
# df.to_csv('modified.csv', index=False)

# df.to_excel('modified.xlsx', index=False)

# Seperated by tab not comma
# df.to_csv('modified.txt', index=False, sep='\t')

# Filtering Data

In [52]:
# returns all the row where Type 1 is Grass
new_df = df.loc[(df['Type 1'] == 'Grass' ) & ( (df['Type 2'] == 'Poison'))]
new_df

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,False,799,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,False,1015,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,False,1315,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,1595,80,100,123,122,120,80
48,43,Oddish,Grass,Poison,1,False,835,45,50,55,75,65,30
49,44,Gloom,Grass,Poison,1,False,1030,60,65,70,85,75,40
50,45,Vileplume,Grass,Poison,1,False,1280,75,80,85,110,90,50
75,69,Bellsprout,Grass,Poison,1,False,790,50,75,35,70,30,40
76,70,Weepinbell,Grass,Poison,1,False,1015,65,90,50,85,45,55
77,71,Victreebel,Grass,Poison,1,False,1260,80,105,65,100,70,70
344,315,Roselia,Grass,Poison,3,False,990,50,60,45,100,80,65
451,406,Budew,Grass,Poison,4,False,660,40,30,35,50,70,55
452,407,Roserade,Grass,Poison,4,False,1260,60,70,65,125,105,90
651,590,Foongus,Grass,Poison,5,False,797,69,55,45,55,55,15
652,591,Amoonguss,Grass,Poison,5,False,1252,114,85,70,85,80,30